# MacOS
**/.DS_Store

# Python
venv/
__pycache__
**/.ipynb_checkpoints

# Restricted folders
miscellaneous/
archive/

# Results
data/**
results/**
**/*.log
tmp/

# Libraries
code/active_learning/libact
code/active_learning/modAL

# Additional scripts
clear_results.zsh

# PyCharm
.idea/

# VSCode
.vscode/

